<header id="header">
  <h1>Boy Scout Troop 56 - Burr Ridge, IL</h1>
  <nav>
    <ul>
      <li><a href="/"
        class="<%= (page === '') ? 'active' : '' %>">Home</a></li>
      <li><a href="/activities"
        class="<%= (page === 'activities') ? 'active' : '' %>">Activities</a></li>
      <li><a href="/photos"
        class="<%= (page === 'photos') ? 'active' : '' %>">Photos</a></li>
      <li><a href="/contact-us"
        class="<%= (page === 'contact-us') ? 'active' : '' %>">Contact Us</a></li>
    </ul>
  </nav>
</header>
