<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="/css/screen.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <% if (page === '') { %>
    <script src="/js/client.js"></script>
    <meta name="google-site-verification" content="toHazCq5xnDbFhL9hERmGyqXanCuO_jwqVtuViDHkjk" />
  <% } else if (page === 'album-photos') { %>
    <script src="/js/client.js"></script>
  <% } %>

</head>
