/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* General CSS */
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #327332; /* close to goblin green color */
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', helvetica, sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0;
  word-wrap: break-word;
}

main {
  margin: 3em auto; /* 48px */
}

h2 {
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 0.75em;
}

p {
  font-size: 1.125em; /* 18px */
}

a {
  color: #D4AF37; /* metallic gold */
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.noscroll {
  overflow: hidden;
}


/* General Header */
#header h1 {
  color: #D4AF37; /* metallic gold */
  font-size: 2.5em; /* 48px */
  font-weight: bold;
  line-height: 130%;
  padding: 0.25em 0.5em;
  text-align: center;
  text-shadow: /* 1px outline */
    -0.025em -0.025em 0 black,
     0.025em -0.025em 0 black,
    -0.025em  0.025em 0 black,
     0.025em  0.025em 0 black;
  vertical-align: middle;
}

#header h1::after {
  background: url("/imgs/bsa-emblem.png") no-repeat 0 0;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 1.750em; /* 70px / 40px = 1.750em */
  margin-left: 0.625em; /* 70px / 25px = 0.625em */
  padding-bottom: 0.250em; /* 70px / 10px = 0.250em */
  vertical-align: middle;
  width: 1.750em; /* 70px / 40px = 1.750em */
}

#header nav {
  background-color: #F1F1F1; /* off-white color */
  max-width: 100%;
  padding: 0.125em; /* 2px */
  text-align: center;
}

#header li {
  display: inline-block;
  list-style: none;
  margin: 0.250em; /* 4px */
  position: relative;
}

#header .dropdown {
  background-color: #F1F1F1; /* off-white color */
  border-radius: 1em; /* 16px */
  display: block;
  opacity: 0;
  padding-inline-start: 0;
  position: absolute;
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease;
  -o-transition: opacity 0.75s ease;
  transition: opacity 0.75s ease;
  visibility: hidden;
  width: 100%;
}

#header .dropdown li {
  display: block;
  margin: 0;
  padding: 0.5em 0; /* 8px */
}

#header li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

#header a {
  border-color: #F1F1F1; /* off-white color */
  border-radius: 0.682em; /* 15px / 22px = 0.682em */
  color: black;
  display: inline-block;
  font-size: 1.250em; /* 20px */
  font-weight: bold;
  padding: 0.636em 1.091em; /* 14px / 22px = 0.636em, 24px / 22px = 1.091em */
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

#header a:hover {
  background-color: #777; /* gray */
  color: #F1F1F1; /* off-white color */
}

#header a.active {
  background-color: #4CAF50; /* fruit salad green color */
  color: #F1F1F1; /* off-white color */
}

@media screen and (min-width: 48rem) { /* tablet */
  #header {

  }

  #header a {
    font-size: 1.375em; /* 22px */
  }
}


/* Home Page */
#home main {
  margin: 0; /* ignore general main tag rule */
}

#home iframe {
  border-radius: 0.625em; /* 10px */
  border-width: 0;
  bottom: 0.625em; /* 10px */
  height: 15.625em; /* 250px */
  opacity: .7;
  position: fixed;
  right: 0.625em; /* 10px */
  -webkit-transition:
    .5s ease-out,
    opacity .5s ease-in-out;
  -moz-transition:
    .5s ease-out,
    opacity .5s ease-in-out;
  -o-transition:
    .5s ease-out,
    opacity .5s ease-in-out;
  transition:
    height .5s ease-out,
    opacity .5s ease-in-out;
  visibility: hidden;
  width: 16.250em; /* 260px */
}

#home iframe:hover {
  height: 30.125em; /* 482px */
  opacity: .85;
}

#home main img {
  display: block;
  height: 22.5em;
  object-fit: cover;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: 100%;
  z-index: -1;
}

@media screen and (min-height: 31.375rem) { /* 502 px */
  #home main img {
    height: calc(100vh - 10.15em);
  }
}

@media screen and (min-width: 47.813rem)
and (min-height: 40.625rem) { /* 765×650 px */
  #home main img {
    height: calc(100vh - 10.15em);
  }
}

@media screen and (min-width: 64.000rem)
and (min-height: 40.625rem) { /* 1024×650 px */
  #home iframe {
    visibility: visible;
  }
}


/* Activities Page */
#activities main {
  height: 100vw;
  margin-left: auto;
  margin-right: auto;
  max-height: 60em;
  max-width: 80em;
  width: 90vw;
}

#activities iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 31.250rem) { /* 500px */
  #activities main {
    height: 85vw;
  }
}

@media screen and (min-width: 37.500rem) { /* 600px */
  #activities main {
    height: 65vw;
  }
}

@media screen and (min-width: 48.000rem) { /* 768px */
  #activities main {
    height: 55vw;
    width: 80vw;
  }
}


/* Photos & Album Photos Pages */
#photos section {
  margin: 0 0.5em;
}

#photos section h2 {
  color: #D4AF37; /* metallic gold */
  margin-left: 0.25em;
}

#photos ul.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

#photos ul.album li {
  display: inline-block;
  margin: 0.5em;
  max-width: 20em;
  min-width: 0;
  width: calc(100% - 1em);
}

#photos figure {
  display: inline-block;
  width: 100%;
}

#photos figure a {
  border-radius: 0.938em; /* 15px */
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

#photos figure a:hover {
  text-decoration: underline;
}

#photos figure img {
  border-radius: 0.938em; /* 15px */
  cursor: pointer;
  display: block;
  max-height: 220px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

#photos figure figcaption {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  line-height: 120%;
  margin-top: 0.5em;
}

#photos figcaption:hover {
  text-decoration: underline;
}

#photos .overlay {
  align-items: center;
  background-color: rgba(7, 7, 7, 0.4);
  display: inline-block;
  display: flex;
  justify-content: space-between;
  /* height: 120vh; */
  opacity: 0;
  overflow: auto;
  padding: 1em 0;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  transition: opacity 1s, visibility 1s;
  vertical-align: middle;
  visibility: hidden;
}

#photos .overlay .close {
  border: none;
  border-radius: 100%;
  color: red;
  font-size: 2.5em;
  line-height: 58%;
  opacity: 0.7;
  padding: 0.025em;
  position: absolute;
    right: 0;
    top: 0;
  vertical-align: middle;
}

#photos .overlay .close:hover {
  opacity: 1;
}

#photos .overlay figure {
  align-items: center;
  border-radius: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 3em);
}

#photos .overlay figure img {
  border-radius: 0;
  height: auto;
  max-height: 92.5%;
}

#photos .arrow-key.left {
  border-radius: 0 3em 3em 0;
  padding-right: 0.1em;
}

#photos .arrow-key.right {
  border-radius: 3em 0 0 3em;
  padding-left: 0.1em;
}

#photos .arrow-key {
  border: none;
  align-items: center;
  display: inline-block;
  display: flex;
  outline: none;
  padding: 0;
  padding-bottom: 0.5em;
  /* vertical-align: middle; */
  /* white-space: nowrap; */
  /* width: 0.625em; */
  z-index: 1;
}

#photos .arrow-key span {
  display: inline-block;
  font-family: 'Concert One', sans-serif;
  font-size: 3em;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
}

@supports (display: grid) {
  #photos ul.album li {
    max-width: none;
  }

  #photos figure img {
    max-height: none;
    height: 30vw;
  }
}


/* Contact Us Page */
#contact-us section {
  background-color: #F1F1F1; /* off-white color */
  border-radius: 0.938em; /* 15px */
  margin: 0 auto;
  max-width: 38.729em; /* 619.667px */
  min-width: 11.104em; /* 177.667px */
  padding: 3.125em 2.375em; /* 50px 38px */
  width: 50%;
}

#contact-us p {
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}

#contact-us section a {
  background-color: black;
  border-color: black;
  border-radius: 0.417em; /* 7.5px / 18px = 0.417em */
  border-style: solid;
  border-width: 0.056em; /* 1px / 18px = 0.056em */
  box-shadow: 0.167em 0.167em gray; /* 3px / 18px = 0.167em */
  display: inline-block;
  margin-bottom: 1em; /* 16px */
  margin-left: 1.667em; /* 30px / 18px = 1.667em */
  padding: 0.694em; /* 12.5px / 18px = 0.694em */
}

#contact-us section a:hover {
  box-shadow: 0.056em 0.056em gray; /* 1px / 18px = 0.056em */
}


/* 404 Page */
#page-404 h2 {
  font-size: 2em;
  text-align: center;
}
