<!DOCTYPE html>
<html lang="en" id="page-404">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/header"); %>

    <main id="content">
      <h2>404 Error: Page Not Found</h2>
    </main>
  </body>
</html>
