<!DOCTYPE html>
<html lang="en" id="contact-us">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/header"); %>

    <main id="main">
      <section>
        <h2>Contact Information</h2>
        <p>
          For information regarding our Troop, please contact:
        </p>
        <a href="mailto:scoutmaster@tr56.org">Scoutmaster</a>

        <p>
          For issues regarding this site, please contact:
        </p>
        <a href="mailto:webmaster@tr56.org">Webmaster</a>
      </section>
    </main>
  </body>
</html>
